<p>Hello World!</p>
<p>This is the partial for view 3.</p>

<div class="" >
    <p>Test notifycations</p>
    <div class="">
        <p><a class="btn btn-primary" ng-click="alertNotify()">Alert</a></p>
        <p><a class="btn btn-positive" ng-click="beepNotify()">Beep <span class="badge badge-positive">1</span></a></p>
        <p><a class="btn btn-negative" ng-click="confirmNotify()">Confirm</a></p>
        <p><a class="btn btn-block btn-outlined" ng-click="vibrateNotify()"><span class="icon icon-search"></span>Vibrate</a></p>
    </div>
    <h1>{{callbackMessage}}</h1>
</div>
